{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block scr %}
<script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            });
           var address = '{{ data }}';
           var geocoder = ymaps.geocode(address);
           geocoder.then(
               function (res) {
                   var coordinates = res.geoObjects.get(0).geometry.getCoordinates();
                   var placemark = new ymaps.Placemark(
                coordinates, {
                    'hintContent': address
                }, {
                    'preset': 'islands#redDotIcon'
                }
            );

            myMap.geoObjects.add(placemark);
        }
    );

}
</script>
{% endblock %}
{% block content %}
<div id="map" style="width: 100vw; height:100vh"></div>
{% endblock %}


